<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qylk.app.musicplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" >
    </uses-sdk>

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.qylk.app.musicplayer.activity.LeadActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="com.qylk.app.musicplayer.activity.PlayActivity" -->
        <!-- android:clearTaskOnLaunch="true" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/mediaplaybacklabel" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:taskAffinity="" -->
        <!-- android:theme="@*android:style/Theme.Black.NoTitleBar.Fullscreen" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->


        <!-- <data android:scheme="content" /> -->
        <!-- <data android:host="media" /> -->
        <!-- <data android:mimeType="audio/*" /> -->
        <!-- <data android:mimeType="application/ogg" /> -->
        <!-- <data android:mimeType="application/x-ogg" /> -->
        <!-- <data android:mimeType="application/itunes" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.qylk.music.PLAYBACK_VIEWER" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.qylk.app.musicplayer.activity.MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:label="@string/mediaplaybacklabel"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustNothing"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/library" />
                <data android:mimeType="vnd.android.cursor.dir/filter" />
                <data android:mimeType="vnd.android.cursor.dir/playlist" />
                <data android:mimeType="vnd.android.cursor.dir/player" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qylk.app.musicplayer.activity.PlayerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/library" />
                <data android:mimeType="vnd.android.cursor.dir/filter" />
                <data android:mimeType="vnd.android.cursor.dir/playlist" />
                <data android:mimeType="vnd.android.cursor.dir/player" />
            </intent-filter>
        </activity>

        <service
            android:name="com.qylk.app.musicplayer.service.MediaPlaybackService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.qylk.music.service.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name="com.qylk.app.musicplayer.service.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity android:name="com.qylk.app.ui.listview.Test" >
        </activity>
    </application>

</manifest>